/*
----------------------------------------------------------
Colors M&S
----------------------------------------------------------
Neutrals
----------------------------------------------------------
Black: #1d1d1b;
Dark grey: #8e8e8e;
Grey: #b1b1b1;
Mid grey: #e1e1e1;
Light grey: #f2f2f2;

Brand
----------------------------------------------------------
Dark green: #8cc7a4;
Mid green: #c0e2c9;
Light green: #e1ece3;

Accents
----------------------------------------------------------
Red: #ed8081;
Amber: #f8d592;

*/

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
