/*
----------------------------------------------------------
Colors M&S
----------------------------------------------------------
Neutrals
----------------------------------------------------------
Black: #1d1d1b;
Dark grey: #8e8e8e;
Grey: #b1b1b1;
Mid grey: #e1e1e1;
Light grey: #f2f2f2;

Brand
----------------------------------------------------------
Dark green: #8cc7a4;
Mid green: #c0e2c9;
Light green: #e1ece3;

Accents
----------------------------------------------------------
Red: #ed8081;
Amber: #f8d592;

*/

// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

// Font size
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
