*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: inherit;
}

html {
  /* we changed to 10px to make our lives easier because 
     now we know 1rem is equal to 10px 
     1rem is exactly the root font size. 
     Assigning px to the font-size then the user cannot 
     set a font-size.*/
  // this defines what 1rem is
  font-size: 62.5%; // 1rem = 10px => 10px/16px = 62.5%

  // @include respond(phone) {
  //   font-size: 50%;
  // }

  @include respond(tab-land) {
    // width < 1200 ?
    font-size: 56.25%; // I want 1 rem to be 9px => 9/16 = 0.5625
  }

  @include respond(tab-port) {
    // width < 900 ?
    font-size: 50%; // I want 1 rem to be 8px => 8/16 = 0.5
  }

  @include respond(phone) {
    font-size: 30%;
  }

  @include respond(big-desktop) {
    font-size: 75%; // I want 1 rem to be 12px => 12/16 = 0.75
  }
}

body {
  /* change the box model to border box
     so the borders and paddings are not added to the 
     total width or total height that is specified for the
     box.
  */
  box-sizing: border-box;
}
